<html>

<body>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <!-- angular Material -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- material style -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

    <!-- <script src="main.js"></script> -->
    <script type="text/javascript">
        var app = angular.module("app", []);
        app.controller("ctr", function($scope, $http) {
//            $scope.questions = [
//                {
//                    "id": 1,
//                    "category": "Basic",
//                    "name": "problem1"
//                },
//                {
//                    "id": 2,
//                    "category": "Basic",
//                    "name": "problem2"
//                },
//                {
//                    "id": 3,
//                    "category": "Basic",
//                    "name": "problem3"
//                },
//                {
//                    "id": 4,
//                    "category": "Basic",
//                    "name": "problem4"
//                },
//                {
//                    "id": 5,
//                    "category": "Basic",
//                    "name": "problem5"
//                },
//                {
//                    "id": 6,
//                    "category": "Advance",
//                    "name": "problem6"
//                },
//                {
//                    "id": 7,
//                    "category": "Advance",
//                    "name": "problem7"
//                },
//                {
//                    "id": 8,
//                    "category": "Advance",
//                    "name": "problem8"
//                },
//                {
//                    "id": 9,
//                    "category": "Advance",
//                    "name": "problem9"
//                },
//                {
//                    "id": 10,
//                    "category": "Advance",
//                    "name": "problem10"
//                }
//            ];

        });
        angular.module('sidenav', ['ngMaterial'])
            .controller('AppCtrl', function($scope, $timeout, $mdSidenav, $log, $http) {
                $scope.submit = function() {
                    console.log($scope.query);
                    $http.post("/api/query", {
                        "query": $scope.query
                    }).then(function success(res) {
                        console.log("success: " + res.data.Error);
                        if (res.data.Error == true) {
                            $scope.error = res.data.Message;
                        } else {
                            $scope.error = null;
                        }
                        console.log(res.data.row);
                        $scope.result = res.data.row;
                    }, function err(res) {
                        console.log("ERR" + res);
                    });
                };
            $scope.showbasic = false;
            $scope.basicclick = function() {
                if($scope.showbasic){
                    $scope.showbasic = false;
                } else $scope.showbasic = true;
            };
                $scope.basics = [
      {
        notes: " problem1"
      },
      {
        notes: " problem2"
      },
      {
        notes: " problem3"
      },
      {
        notes: " problem4"
      },
      {
        notes: " problem5"
      },
    ];
            $scope.advances = [
      {
        notes: " problem1"
      },
      {
        notes: " problem2"
      },
      {
        notes: " problem3"
      },
      {
        notes: " problem4"
      },
      {
        notes: " problem5"
      },
    ];

                $scope.toggleLeft = buildDelayedToggler('left');
                $scope.toggleRight = buildToggler('right');
                $scope.isOpenRight = function() {
                    return $mdSidenav('right').isOpen();
                };
                /**
                 * Supplies a function that will continue to operate until the
                 * time is up.
                 */
                function debounce(func, wait, context) {
                    var timer;
                    return function debounced() {
                        var context = $scope,
                            args = Array.prototype.slice.call(arguments);
                        $timeout.cancel(timer);
                        timer = $timeout(function() {
                            timer = undefined;
                            func.apply(context, args);
                        }, wait || 10);
                    };
                }
                /**
                 * Build handler to open/close a SideNav; when animation finishes
                 * report completion in console
                 */
                function buildDelayedToggler(navID) {
                    return debounce(function() {
                        /* Component lookup should always be available since we are not using `ng-if`*/
                        $mdSidenav(navID)
                            .toggle()
                            .then(function() {
                                $log.debug("toggle " + navID + " is done");
                            });
                    }, 200);
                }

                function buildToggler(navID) {
                    return function() {
                        /*Component lookup should always be available since we are not using `ng-if`*/
                        $mdSidenav(navID)
                            .toggle()
                            .then(function() {
                                $log.debug("toggle " + navID + " is done");
                            });
                    }
                }
            })
            .controller('LeftCtrl', function($scope, $timeout, $mdSidenav, $log) {
                $scope.close = function() {
                    /* Component lookup should always be available since we are not using `ng-if`*/
                    $mdSidenav('left').close()
                        .then(function() {
                            $log.debug("close LEFT is done");
                        });
                };
            })
            .controller('RightCtrl', function($scope, $timeout, $mdSidenav, $log) {
                $scope.close = function() {
                    // Component lookup should always be available since we are not using `ng-if`
                    $mdSidenav('right').close()
                        .then(function() {
                            $log.debug("close RIGHT is done");
                        });
                };
            });
        
    </script>

    <md-toolbar class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
                <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
            </md-button>
            <h2>
         <span>Toolbar with Disabled/Enabled Icon Buttons</span>
       </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Favorite">
                <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="More">
                <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <div ng-app="sidenav" ng-controller="AppCtrl" layout="row">
        <section layout="row" flex>
            
            <md-sidenav class="md-sidenav-left " md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Sidenav Left</h1>
                </md-toolbar>
                <md-content layout-padding ng-controller="LeftCtrl">
                    <div class="row">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                    <p hide-md show-gt-md>
                        This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
                    </p>
                        </div>
                     <md-content>
        <md-list flex>
        <md-subheader class="md-no-sticky" ng-click="basicclick()">Basic problems</md-subheader>
        <md-list-item class="md-1-line" ng-repeat="item in basics" ng-click="null" ng-show="showbasic">
        
          <div class="md-list-item-text" layout="column">
            <p>{{ item.notes }}</p>

          </div>
        </md-list-item>
        <md-divider ></md-divider>
          <md-subheader class="md-no-sticky">Advance problems</md-subheader>
        <md-list-item class="md-1-line" ng-repeat="item in advances" ng-click="null">
        
          <div class="md-list-item-text" layout="column">
            <p>{{ item.notes }}</p>

          </div>
        </md-list-item>
        <md-divider ></md-divider>
          
       
      </md-list>

    </md-content>

                </md-content>
            </md-sidenav>
            <md-content flex layout-padding>


                <div layout="column">
                    <div class="row">
                        <div class="col-md-4">
                            <form>
                                <h3>Question: </h3>
                                <textarea type="text" rows="4" cols="50" class="form-control" ng-model="query" placeholder="SELECT * FROM classroom" style="overflow:auto;resize:none"></textarea>
                                <input type="submit" class="btn btn-default" value="Submit" ng-click="submit()">
                            </form>
                        </div>
                        <div class="col-md-8" id="result">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th ng-repeat="(header, value) in result[0]">{{header}}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <h1 ng-bind="error" style="color: #FF5050;"></h1>
                                    <tr ng-repeat="row in result">
                                        <td ng-repeat="cell in row">
                                            {{cell}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div flex>
                    <md-button class="md-raised md-primary" ng-click="submit()">Primary</md-button>
                    <md-button class="md-raised md-warn">Warn</md-button>
                </div>
            </md-content>

            <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Sidenav Right</h1>
                </md-toolbar>
                <md-content ng-controller="RightCtrl" layout-padding>
                    <form>
                        <md-input-container>
                            <label for="testInput">Test input</label>
                            <input type="text" id="testInput" ng-model="data" md-autofocus>
                        </md-input-container>
                    </form>
                    <md-button ng-click="close()" class="md-primary">
                        Close Sidenav Right
                    </md-button>
                </md-content>
            </md-sidenav>
        </section>

    </div>

</body>

</html>
