<html>

<body>
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <!-- angular Material -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- material style -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

    <!-- <script src="main.js"></script> -->
    <script type="text/javascript">
        var app = angular.module('sidenav', ['ngMaterial']);
        app.factory('authInterceptor', function($rootScope, $q, $window) {
            return {
                request: function(config) {
                    config.headers = config.headers || {};
                    if ($window.sessionStorage.token) {
                      console.log("in");
                        config.headers.Authorization =  $window.sessionStorage.token;
                        // config.headers.['x-access-token'] =  $window.sessionStorage.token;
                    }
                    return config;
                },
                response: function(response) {
                    if (response.status === 401) {
                        // handle the case where the user is not authenticated
                    }
                    return response || $q.when(response);
                }
            };
        });
        app.config(function ($httpProvider) {
  $httpProvider.interceptors.push('authInterceptor');
});
        app.controller('AppCtrl', function($scope, $timeout, $mdSidenav, $log, $http, $window) {
          $scope.username = "wit";
          $scope.password = "321";

            $scope.login = function(){
              $http.post("api/authenticate",{
                "username":$scope.username,
                "password":$scope.password
              }).then(function success(res){
                if(res.data.success){
                  console.log(res.data.token);
                  $window.sessionStorage.token = res.data.token;
                }else{
                  console.log(res.data.message);
                }
              },function err(res){
                console.log(res);
              })
            }
            $scope.logout = function(){
              delete $window.sessionStorage.token;
            };
            if($window.sessionStorage.token){
              $http.get("/api/check")
              .then(function success(res){

                console.log(res);
              },function error(res){
                $scope.login();


              });
            }
            else{
              $scope.login();
            }


            $scope.submit = function() {
                if ($scope.buttonSummit == 'next') {
                    $scope.current_problem_id = $scope.current_problem_id + 1;
                    $scope.selectq($scope.current_problem_id);
                    return;
                }
                console.log($scope.query);
                $http.post("/api/query", {
                    "query": $scope.query,
                    "problem_id": $scope.current_problem_id
                }).then(function success(res) {
                    console.log(res.data);
                    if (res.data.error == true) {
                        $scope.error = res.data.error_message;
                    } else {
                        $scope.error = null;
                    }
                    console.log(res.data.row);
                    $scope.result = res.data.row;
                    if (res.data.correct) {
                        $scope.buttonSummit = "next";
                    }
                }, function err(res) {
                    console.log("ERR" + res);
                });
            };
            $scope.buttonSummit = "submit";
            $scope.subheads = [{
                "name": "1",
                "expand": false
            }, {
                "name": "2",
                "expand": false
            }];
            $http.get("api/chapters").then(function success(res) {
                if (!res.data.error) {
                    console.log(res.data.row);
                    var array = [];
                    for (var i = 0; i < res.data.row.length; i++) {
                        array.push({
                            "name": res.data.row[i].chapter_name,
                            "id": res.data.row[i].chapter_id,
                            "expand": false
                        });
                    }
                    $scope.subheads = array;
                }
            }, function err(res) {
                console.log("ERR " + res);
            })
            $scope.isInSub = function(sub, category) {
                return sub == category;
            };
            $scope.clickSubHead = function(sub) {
                if (sub.expand) {
                    sub.expand = false;
                } else sub.expand = true;
            };

            $http.post("/api/problems", {
                "command": "problems"
            }).then(function success(res) {
                $scope.questions = res.data.row;
                console.log(res.data.row);
            }, function err(res) {
                console.log("ERR" + res);
            });
            $scope.current_problem_id;
            $scope.selectq = function(id) {
                $scope.current_problem_id = id;
                $http.post("/api/problem", {
                    "id": id
                }).then(function success(res) {
                    if (res.data.error == true) {
                        console.log(res.data.error_message);
                    }
                    $scope.question = res.data.problem;
                    console.log(res.data.problem);
                }, function err(res) {
                    console.log("ERR" + res);
                });
            };
            $scope.getSolution = function() {
                $http.post("/api/solution", {
                    "id": $scope.current_problem_id
                }).then(function success(res) {
                    alert(res.data.solution);
                }, function err(res) {
                    console.log("ERR" + res);
                });
            }
            $scope.toggleLeft = buildDelayedToggler('left');
            /**
             * Supplies a function that will continue to operate until the
             * time is up.
             */
            function debounce(func, wait, context) {
                var timer;
                return function debounced() {
                    var context = $scope,
                        args = Array.prototype.slice.call(arguments);
                    $timeout.cancel(timer);
                    timer = $timeout(function() {
                        timer = undefined;
                        func.apply(context, args);
                    }, wait || 10);
                };
            }
            /**
             * Build handler to open/close a SideNav; when animation finishes
             * report completion in console
             */
            function buildDelayedToggler(navID) {
                return debounce(function() {
                    /* Component lookup should always be available since we are not using `ng-if`*/
                    $mdSidenav(navID)
                        .toggle()
                        .then(function() {
                            $log.debug("toggle " + navID + " is done");
                        });
                }, 200);
            }

            function buildToggler(navID) {
                return function() {
                    /*Component lookup should always be available since we are not using `ng-if`*/
                    $mdSidenav(navID)
                        .toggle()
                        .then(function() {
                            $log.debug("toggle " + navID + " is done");
                        });
                }
            }
            $scope.openLeftMenu = function() {
                console.log("in");
                $mdSidenav('left').toggle();
            };

        });
    </script>


    <div ng-app="sidenav" ng-controller="AppCtrl">
        <div layout="column">
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools">
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="openLeftMenu()">
                        <img src="http://wit543.xyz/images/ic_list_black_48dp_2x.png">
                    </md-button>
                    <h2>
               <span>Toolbar with Disabled/Enabled Icon Buttons</span>
             </h2>
                </div>
            </md-toolbar>
        </div>
        <div layout="column" layout="row" style="overflow-x: hidden; height: calc(100% - 64px);">
            <section layout="row" flex>
                <md-sidenav class="md-sidenav-left " md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-disable-backdrop md-whiteframe="4">
                    <md-toolbar class="md-theme-indigo">
                        <h1 class="md-toolbar-tools">Sidenav Left</h1>
                    </md-toolbar>
                    <md-content layout-padding style="overflow-x: hidden">
                        <div class="row">
                            <md-button class="md-primary" hide-gt-md>
                                Close Sidenav Left
                            </md-button>
                            <p hide-md show-gt-md>
                                This sidenav is locked open on your device. To go back to the default behavior, narrow your display.
                            </p>
                        </div>
                        <md-content>
                            <md-list flex>
                                <md-list flex ng-repeat="subhead in subheads">
                                    <md-subheader class="md-no-sticky" ng-click="clickSubHead(subhead)"> {{ subhead.name }} </md-subheader>
                                    <ul>
                                        <li ng-repeat="question in questions" ng-if="isInSub(subhead.id,question.chapter_id)" ng-click="selectq(question.problem_id)" ng-show="subhead.expand">
                                            <div layout="column">
                                                <p style="font-size:12px">{{ question.header }}</p>
                                            </div>
                                        </li>
                                    </ul>
                                    <md-divider ng-show="subhead.expand"></md-divider>


                                </md-list>
                            </md-list>

                        </md-content>

                    </md-content>
                </md-sidenav>
                <md-content flex layout-padding>


                    <div layout="column">
                        <div class="row">
                            <div class="col-md-4" 　>
                                <form>
                                    <h3　>Question: {{question}}</h3>
                                        <textarea type="text" rows="4" cols="50" class="form-control" ng-model="query" placeholder="SELECT * FROM classroom" style="overflow:auto;resize:none ; height: calc(100% - 192px); min-height:64px "></textarea>
                                </form>
                            </div>
                            <div class="col-md-8" id="result" style="  height: calc(100vh - 192px); min-height:128px">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th ng-repeat="(header, value) in result[0]">{{header}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <h1 ng-bind="error" style="color: #FF5050;"></h1>
                                        <tr ng-repeat="row in result">
                                            <td ng-repeat="cell in row">
                                                {{cell}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div style="position:fixed; bottom:0; background-color:#3F51B5; width:100%; padding: 0px;">
                        <md-button class="md-raised md-primary" ng-click="submit()">{{buttonSummit}}</md-button>
                        <md-button class="md-raised md-warn" ng-click="getSolution()">Give Up</md-button>
                    </div>

                    <!--
                <md-toolbar class="md-hue-2" layout="column" style="position:fixed; bottom:0;">
                    <div class="md-toolbar-tools">
                        <h2>
                         <span>Toolbar with Disabled/Enabled Icon Buttons</span>
                       </h2>
                        <div flex>
                            <md-button class="md-raised md-primary" ng-click="submit()">{{buttonSummit}}</md-button>
                            <md-button class="md-raised md-warn" ng-click="getSolution()">Give Up</md-button>
                        </div>
                    </div>
                </md-toolbar>
-->
                </md-content>



            </section>
        </div>
    </div>

</body>

</html>
